

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'Gotham Round', Gotham, Helvetica, Arial, sans-serif;

  src: url('../fonts/gothamrnd-light.woff');
  src: url('../fonts/gothamrnd-medium.woff');
}

html, body {
  font-family: 'Gotham Round', Gotham, Arial, sans-serif;
}

.page-header h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.color-block {
  padding: 24px;
  margin: 10px;
  background-color: grey;
}
